
    <div class="row mb-2">
        <div class="col-2">
            <input type="text" class="form-control" placeholder="Buscar" >
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="Buscar" >
        </div>
        <div class="col-2">
            <input type="text" class="form-control" placeholder="Buscar" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            formulario
        </div>

    </div>
 