    
    <div class="row">
        
        <div class="col-md-6">
            
            <div class="card card-info">
        
                <div class="card-header">
                    <h3 class="card-title">Notificar</h3>
                </div> <!-- /.card-header -->
               
                
                <form autocomplete="off" [formGroup] = "forma" (ngSubmit) = "guardar()"><!-- form start -->
                    
                    <div class="card-body">
                        
                        <div class="form-group">
                      
                            <input type="text" class="form-control" placeholder="Nombre del anuncio a registrar"
                                   formControlName = "name"
                                   [class.is-invalid] = "nombreNoValido"
                                   minlength = "5" 
                            >
                            <small *ngIf = "nombreNoValido" class = "text-danger">
                                Ingrese un nombre (Al menos 5 caracteres)</small>
                        </div>

                        <div class="form-group">
                            
                            <input  formControlName = "brandId"
                                    [typeahead] = "marcas" 
                                    typeaheadOptionField = "name"
                                    (typeaheadOnSelect) = "onSelect($event)"
                                    class = "form-control" 
                                    placeholder = "Marca"
                                    [typeaheadMinLength] = "1"
                                    [class.is-invalid] = "marcaNoValido"
                            >
                            <small *ngIf = "marcaNoValido" class = "text-danger">
                                Ingrese una marca</small>
                    
                        </div>

                        <div class="form-group">
                      
                            <ng-select appearance = "outline" #statusSelect 
                                placeholder = "Estado" [searchable] = "false"
                                formControlName = "statusAdvertising"
                                [class.is-invalid] = "estatusNoValido"
                            >
                                <ng-option value = "FULFILLMENT">Cumplimiento</ng-option>
                                <ng-option value = "BREACH">Incumplimiento</ng-option>
                                <ng-option value = "VERIFICATION">Verificación</ng-option>

                            </ng-select>
                            <small *ngIf = "estatusNoValido" class = "text-danger">
                                Seleccione un estado</small>
                        </div>

                        <div class="form-group">
                            <input  formControlName="advertisingMediumId"
                                    [typeahead] = "medios" 
                                    typeaheadOptionField = "name"
                                    (typeaheadOnSelect) = "onSelect2($event)" 
                                    class = "form-control" 
                                    placeholder = "Medio"
                                    [class.is-invalid] = "medioNoValido"
                            >
                            <small *ngIf = "medioNoValido" class = "text-danger">
                                Ingrese una medio</small>
                        </div>

                        <div class = "form-group">
                            <div class="col-sm-10">
                                <angular-file-uploader
                                    [config]="afuConfig"
                                    
                                >
                                </angular-file-uploader>
                            </div>
                        </div>
        
                    </div><!-- /.card-body -->
                
                    <div class="card-footer text-center">
                        
                        <button type="submit" class="btn btn-success mr-2">Notificar anuncio
                            <i class="fas fa-save"></i>
                        </button>
                        <!--<button type="button" routerLink = "/notificaciones-index" class="btn btn-danger">Cancelar
                            <i class="fas fa-window-close"></i>
                        </button>-->
                    </div> <!-- /.card-footer -->
              
                </form>
        
            </div>

        </div>

        <div class = "col-md-6">
            <div class = "card">
                <div class = "card-body" >

                    <div class="row mb-4">
                        
                        <!--<img src="../../../../assets/img/tmplogo.jpg" alt="logo" class="logo">-->
                        <img [src]="imagen" alt="logo" class="logo">
                        
                    </div>

                    <div class="row">

                        <div class="col-6">

                            <div class="form-group">
                                <input type="text" class = "binding" placeholder = "Nombre del anuncio a registrar" [value] = "forma.value.name" disabled> 
                            </div>
                            <div class="form-group">
                                 <input type="text" class = "binding" placeholder = "marca" [value] = "forma.value.brandId" disabled> 
                            </div>
                            <div class="form-group">
                                 <input type="text" class = "binding" placeholder = "estado" [value] = "forma.value.statusAdvertising" disabled> 
                            </div>
                            <div class="form-group">
                                 <input type="text" class = "binding" placeholder = "medio" [value] = "forma.value.advertisingMediumId" disabled> 
                            </div>
    
                        </div> 
                      
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
    


